@import '../../mixins.scss';

.artist-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $darken_pri_blue;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: 0.1 ease-in;

  &:focus {
    border: solid 2px #fff;
  }

  .dark-fade {
    background: linear-gradient(rgba(#000, 0), rgba(#000, 0.7));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .artist-info {
    width: 100%;
    margin-top: 50px;
    padding: 0 24px 0 0;
    position: absolute;
    bottom: 12px;
    left: 12px;

    a { text-decoration: none; }

    div { transition: 0.1s ease-in; }

    .artist-name-blck {
      @include fontProp('Montserrat', 700, 18px);
    }
    
    .artist-songs-length {
      @include fontProp('Open Sans', 600, 12px);
    }
  }

  @include desktop {

    // Desktop micro-interaction
    &:hover {
      .artist-info {
        .artist-name-blck,
        .artist-songs-length {
          color: $pri-blue !important;
        }
      }
    }
  }
}