@import '../../mixins.scss';

.floating-tracklist {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(#000, .3), rgba(#000, 1));
  top: 0;
  left: 0;
  z-index: 20;
  padding: 8px;
  // display: flex;
  display: none;
  justify-content: flex-end;
  flex-direction: column;

  .tracklist-container {
    width: 100%;
    height: 100%;
    max-height: 520px;
    background-color: #EEEFF8;
    border-radius: 16px;
    padding: 18px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-gap: 18px;

    .tracklist-head {
      @include fontProp('Montserrat', 700, 32px, #000);
      color: #323232;
    }

    .tracklist-content-parent {
      overflow-y: scroll;

      &::-webkit-scrollbar-track {
        background-color: #EEEFF8;
      }

      .tracklist-content {
        
        .tracklist-music-block {
          padding: 10px 0 8px 0;
          position: relative;
          user-select: none;
          cursor: pointer;

          .tl-music-info {
            .tl-title {
              color: #323232;
              padding-right: 40px;
              @include fontProp('Montserrat', 700, 18px, #000);
            }
            .tl-artist {
              color: rgba(#323232, 0.58);
              @include fontProp('Open sans', 400, 12px, rgba(#000, 0.6));
            }
          }

          .tl-liner {
            width: 100%;
            height: 0.5px;
            background-color: rgba(#323232, .35);
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
  }

  @include desktop {
    padding: 0;

    .tracklist-container {
      max-height: 100%;
    }
  }
}


// .more x-index should be 30
// or higher than sidebar-menu