@import '../../mixins.scss';

.floating-music-track-container {
  display: none;
  // position: relative;

  @include desktop {
    display: block;
    position: fixed;
    top: 114px;
    right: 112px;

    @include customMediaQuery(780px) {
      right: 40px;
    }

    // +80
    @include customMediaQuery(860px) {
      right: 60px;
    }

    // +120
    @include customMediaQuery(980px) {
      right: 90px;
    }

    // +200
    @include customMediaQuery(1180px) {
      right: 112px;
    }
  }
}
