.music-track-bar {
  width: 100%;
  padding: 17px 22px;
  background-color: #293EF8;
  color: #fff;
  background-color: #293EF8;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 18px 18px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  overflow: hidden;
}

@media (min-width: 780px) {
  .music-track-bar {
    display: none;
    visibility: none;
    opacity: 0;
    pointer-events: none;
  }
}

.music-track-bar .duration-progress-container {
  position: absolute;
  top: 7.5px;
  left: 22px;
  height: 3px;
  overflow: hidden;
  width: calc(100% - 44px);
}

.music-track-bar .duration-progress-container .duration-progress {
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.music-track-bar .click-indication {
  position: absolute;
  width: 35px;
  height: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 7.5px;
  border-radius: 4px;
  background-color: #fff;
}

.music-track-bar .music-info-displays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}

.music-track-bar .music-info-displays .music-artist-image {
  width: 46px;
  height: 46px;
  min-width: 46px;
  min-height: 46px;
  margin-right: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.music-track-bar .music-info-displays .music-artist-image img {
  width: 100%;
}

.music-track-bar .music-info-displays .music-texts .music-title {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}

.music-track-bar .music-info-displays .music-texts .music-artist-name {
  font-family: "Open sans", sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.music-track-bar .music-track-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 14px;
  position: relative;
}

.music-track-bar .music-track-events::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 100%;
  top: 0;
  left: -25px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(41, 62, 248, 0)), to(#293EF8));
  background: linear-gradient(90deg, rgba(41, 62, 248, 0), #293EF8);
  z-index: 2;
}

.music-track-bar .music-track-events .prev-but {
  margin-right: 10px;
}

.music-track-bar .music-track-events .next-but {
  margin-left: 10px;
}

.music-track-bar .music-track-events button {
  height: 32px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.music-track-bar .music-track-events button:disabled {
  opacity: 0.2;
}
/*# sourceMappingURL=MusicTrackBar.css.map */