@import '../../mixins.scss';

.music-block {
  display: grid;
  grid-template-columns: 46px 1fr 46px;
  padding: 5px 0;
  border-radius: 13px;
  transition: 0.1s ease-in-out;
  user-select: none;

  &:active {
    
    .music-info {
      .music-title, .music-artist {
        color: $pri-blue;
      }
    }
  }

  .music-artist-image {
    width: 46px;
    height: 46px;
    border-radius: 8px;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  .music-info {
    white-space: nowrap;
    overflow: hidden;
    margin-left: 8px;

    .music-title {
      transition: 0.1s ease-out;
      @include fontProp('Montserrat', 700, 18px);
      margin-top: 3px;
    }

    .music-artist {
      transition: 0.1s ease-out;
      @include fontProp('Open sans', 400, 12px);
      color: rgba(255, 255, 255, 0.58);
    }
  }

  .music-options {
    height: 100%;
    width: 46px;
    position: relative;
    @include flexCenter;
    
    .music-options-button {
      // 28px x 28px
      width: 34px;
      height: 34px;
      border-radius: 8px;
      @include flexCenter;

      img {
        width: 28px;
      }
    }

    &::before {
      content: '';
      width: 50px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -50px;
      background: linear-gradient(90deg, rgba($drk_blue, 0), rgba($drk_blue, 1));
    }
  }

  @include desktop {
    grid-template-columns: 60px 1fr 60px;
    padding: 8px 0;
  
    .music-artist-image {
      width: 60px;
      height: 60px;
      border-radius: 12px;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
      }
    }

    .music-info {
      margin-left: 12px;

      .music-title {
        @include fontProp('Montserrat', 700, 20px);
        margin-top: 7px;
      }

      .music-artist {
        @include fontProp('Open sans', 400, 14px);
      }
    }

    .music-options {
      width: 60px;
      
      .music-options-button {
        width: 38px;
        height: 38px;
  
        img {
          width: 32px;
        }
      }
    }
  }
}

.music-block-no-artist-image {
  grid-template-columns: 1fr 46px !important;

  .music-info {
    margin-left: 0;
  }

  @include desktop {
    grid-template-columns: 1fr 60px !important;

    .music-info {
      margin-left: 0;
    }
  }
}