@import '../../mixins.scss';

.music-block {
  display: grid;
  grid-template-columns: 46px 1fr 46px;
  grid-template-rows: 46px;
  padding: 5px 0 5px 5px;
  margin-bottom: 5px;
  border-radius: 13px;
  user-select: none;
  position: relative;                                               

  &:hover {
    background-color: rgba($pri-blue, 0.3);
    
    .music-info {
      .music-title, .music-artist {
        color: $pri-blue;
      }
    }

    .music-options-parent::before {
      background: transparent;
    }
  }

  .music-artist-image {
    width: 46px;
    height: 46px;
    border-radius: 8px;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  .music-info {
    white-space: nowrap;
    overflow: hidden;
    margin-left: 8px;

    .music-title {
      transition: 0.1s ease-out;
      @include fontProp('Montserrat', 700, 18px);
      margin-top: 3px;
    }

    .music-artist {
      transition: 0.1s ease-out;
      @include fontProp('Open sans', 400, 12px);
      color: rgba(255, 255, 255, 0.58);
    }
  }

  .music-options-parent {
    @include option_musicBlock;
  }

  @include desktop {
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: 60px;
    padding: 8px 0 8px 8px;
  
    .music-artist-image {
      width: 60px;
      height: 60px;
      border-radius: 12px;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
      }
    }

    .music-info {
      margin-left: 12px;

      .music-title {
        @include fontProp('Montserrat', 700, 20px);
        margin-top: 7px;
      }

      .music-artist {
        @include fontProp('Open sans', 400, 14px);
      }
    }
  }
}


// if music-block props has showImage with value of true
.music-block-no-artist-image {
  grid-template-columns: 1fr 46px !important;

  @include desktop {
    grid-template-columns: 1fr 60px !important;
  }
}

// music-block props has removable with value of truw
.removable-music-block {

  // Style elements that need to adjust
  .music-options-parent::before {

    // left: calc(-50px + -46px);

    @include desktop {
      // left: calc(-50px + -60px);
    }
  }
  
  .remove {
    height: 46px;
    width: 46px;
    position: absolute;
    top: 50%;
    right: 46px;
    transform: translateY(-50%);
    @include flexCenter;
    z-index: 10;

    @include desktop {
      height: 60px;
      width: 60px;
      right: 60px;
    }
  }
}

// Active music styles
.active-music {
  background-color: $pri-blue;

  &:hover {
    background-color: $pri-blue;

    .music-info {
      .music-title, .music-artist {
        color: #fff;
      }
    }
    
    .music-options-parent::before {
      background: linear-gradient(90deg, rgba($pri-blue, 0), rgba($pri-blue, 1));
    }
  }

  .music-options-parent::before {
    background: linear-gradient(90deg, rgba($pri-blue, 0), rgba($pri-blue, 1));
  }
}