@import '../../mixins.scss';

.nav {
  width: 100%;
  padding: 16px 22px;
  background: $drk_blue;
  position: sticky;
  top: 0;
  z-index: 99;
  @include flexCenter;

  @include desktop {
    padding: 24px 112px;  
    justify-content: flex-start;

    @include customMediaQuery(780px) {
      padding: 24px 40px;
    }

    // +80
    @include customMediaQuery(860px) {
      padding: 24px 60px;
    }

    // +120
    @include customMediaQuery(980px) {
      padding: 24px 90px;
    }

    // +200
    @include customMediaQuery(1180px) {
      padding: 24px 112px;
    }

    // .menu-block-container {
    //   // display: none;
    // }
  }

  .menu-block-container {
    position: absolute;
    left: 22px;
    height: 100%;
    @include flexCenter;
  }

  .nav-logo-container {
    display: grid;
    grid-template-columns: auto auto;

    img {
      height: 24px;

      @include desktop {
        height: 30px;
      }
    }

    .logo-label {
      margin-left: 24px;
      display: none;
      @include fontProp('Montserrat', 700, 24px);

      @include desktop {
        display: block;
      }
    }
  }
}