@import '../../mixins.scss';

.playlists-route {
  display: grid;
  grid-gap: 12px;

  @include desktop {
    grid-gap: 18px;
  }

  .pl-header {
    @include fontProp('Montserrat', 700, 24px);
    
    @include desktop {
      font-size: 32px !important;  
    }
  }

  .divider {
    width: 100%;
    height: 0.5px;
    background-color: rgba(#fff, 0.42);
  }

  .create-pl {
    display: grid;
    grid-template-columns: 46px 1fr;
    grid-gap: 8px;
    padding: 5px 0;
    cursor: pointer;

    .create-logo {
      width: 46px;
      height: 46px;
      border-radius: 8px;
      background-color: $pri-blue;
      @include flexCenter;

      img { width: 24px; }
    }

    .create-text {
      height: 100%;
      display: flex;
      align-items: center;
      @include fontProp('Montserrat', 700, 18px);
    }

    @include desktop {
      grid-template-columns: 60px 1fr;
      grid-gap: 12px;
      padding: 10px 0;

      .create-logo {
        width: 60px;
        height: 60px;
        border-radius: 12px;

        img { width: 28px; }
      }

      .create-text { font-size: 20px !important; }
    }
  }

  // Playlist Block
  .pl-block {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: auto 46px;

    @include desktop {
      grid-template-columns: auto 60px;
    }


    &:hover {
      a {
        .pl-info {
          .name, .song-len {
            color: $pri-blue !important;
          }
        }
      }
    }

    a {
      display: grid;
      grid-template-columns: 46px auto;
      grid-gap: 8px;
      padding: 5px 0;

      .pl-image {
        width: 46px;
        height: 46px;
        background-color: $drk_blue;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        
        .link {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }

        .svg {
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .pl-info {
        margin-top: 3px;
        white-space: nowrap;
        overflow: hidden;
        position: relative;

        &:before {
          content: '';
          width: 50px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background: linear-gradient(90deg, rgba($drk_blue, 0), rgba($drk_blue, 1));
        }

        .name, .song-len { transition: 0.1s ease-in; }

        .name { @include fontProp('Montserrat', 700, 18px); }
        .song-len { @include fontProp('Open sans', 400, 12px); color: rgba(#fff, 0.58); }
      }

      .more {
        background-color: #f00;
      }

      @include desktop {
        grid-template-columns: 60px auto;
        grid-gap: 12px;
        padding: 10px 0;

        .pl-image {
          width: 60px;
          height: 60px;
          border-radius: 12px;
        }

        .pl-info {
          margin-top: 7px;

          .name { font-size: 20px !important;}
          .song-len { font-size: 14px !important;}
        }
      }
    }

    .more {
      height: 46px;
      cursor: pointer;
      background-color: #f00;
      border: solid 2px #fff;

      @include desktop {
        height: 60px;
      }
    }
  }
}

// PlaylistTrack.jsx

.playlist-track-route {
  display: grid;
  grid-gap: 12px;
  
  @include desktop {
    grid-gap: 18px;
  }

  .pl-track-title {
    white-space: nowrap;
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      width: 50px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(90deg, rgba($drk_blue, 0), rgba($drk_blue, 1));
    }

    @include fontProp('Montserrat', 700, 24px);
    
    @include desktop {
      font-size: 32px !important;  
    }
  }

  .pl-empty {
    @include fontProp('Montserrat', 700, 16px);
    text-align: center;
    margin-top: 24px;
  }
}
  // grid-template-columns: 46px 1fr 46px;
  // grid-template-columns: 60px 1fr 60px;