.playlists-route {
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
}

@media (min-width: 780px) {
  .playlists-route {
    grid-gap: 18px;
  }
}

.playlists-route .pl-header {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 24px !important;
}

@media (min-width: 780px) {
  .playlists-route .pl-header {
    font-size: 32px !important;
  }
}

.playlists-route .divider {
  width: 100%;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.42);
}

.playlists-route .create-pl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 46px 1fr;
      grid-template-columns: 46px 1fr;
  grid-gap: 8px;
  padding: 5px 0;
  cursor: pointer;
}

.playlists-route .create-pl .create-logo {
  width: 46px;
  height: 46px;
  border-radius: 8px;
  background-color: #293EF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playlists-route .create-pl .create-logo img {
  width: 24px;
}

.playlists-route .create-pl .create-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}

@media (min-width: 780px) {
  .playlists-route .create-pl {
    -ms-grid-columns: 60px 1fr;
        grid-template-columns: 60px 1fr;
    grid-gap: 12px;
    padding: 10px 0;
  }
  .playlists-route .create-pl .create-logo {
    width: 60px;
    height: 60px;
    border-radius: 12px;
  }
  .playlists-route .create-pl .create-logo img {
    width: 28px;
  }
  .playlists-route .create-pl .create-text {
    font-size: 20px !important;
  }
}

.playlists-route .pl-block {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 46px;
      grid-template-columns: auto 46px;
}

@media (min-width: 780px) {
  .playlists-route .pl-block {
    -ms-grid-columns: auto 60px;
        grid-template-columns: auto 60px;
  }
}

.playlists-route .pl-block:hover a .pl-info .name, .playlists-route .pl-block:hover a .pl-info .song-len {
  color: #293EF8 !important;
}

.playlists-route .pl-block a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 46px auto;
      grid-template-columns: 46px auto;
  grid-gap: 8px;
  padding: 5px 0;
}

.playlists-route .pl-block a .pl-image {
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.playlists-route .pl-block a .pl-image .link {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.playlists-route .pl-block a .pl-image .svg {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.playlists-route .pl-block a .pl-info {
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.playlists-route .pl-block a .pl-info:before {
  content: '';
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(11, 11, 20, 0)), to(#0b0b14));
  background: linear-gradient(90deg, rgba(11, 11, 20, 0), #0b0b14);
}

.playlists-route .pl-block a .pl-info .name, .playlists-route .pl-block a .pl-info .song-len {
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.playlists-route .pl-block a .pl-info .name {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
}

.playlists-route .pl-block a .pl-info .song-len {
  font-family: "Open sans", sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  color: rgba(255, 255, 255, 0.58);
}

.playlists-route .pl-block a .more {
  background-color: #f00;
}

@media (min-width: 780px) {
  .playlists-route .pl-block a {
    -ms-grid-columns: 60px auto;
        grid-template-columns: 60px auto;
    grid-gap: 12px;
    padding: 10px 0;
  }
  .playlists-route .pl-block a .pl-image {
    width: 60px;
    height: 60px;
    border-radius: 12px;
  }
  .playlists-route .pl-block a .pl-info {
    margin-top: 7px;
  }
  .playlists-route .pl-block a .pl-info .name {
    font-size: 20px !important;
  }
  .playlists-route .pl-block a .pl-info .song-len {
    font-size: 14px !important;
  }
}

.playlists-route .pl-block .more {
  height: 46px;
  cursor: pointer;
  background-color: #f00;
  border: solid 2px #fff;
}

@media (min-width: 780px) {
  .playlists-route .pl-block .more {
    height: 60px;
  }
}

.playlist-track-route {
  display: -ms-grid;
  display: grid;
  grid-gap: 12px;
}

@media (min-width: 780px) {
  .playlist-track-route {
    grid-gap: 18px;
  }
}

.playlist-track-route .pl-track-title {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 24px !important;
}

.playlist-track-route .pl-track-title:before {
  content: '';
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(11, 11, 20, 0)), to(#0b0b14));
  background: linear-gradient(90deg, rgba(11, 11, 20, 0), #0b0b14);
}

@media (min-width: 780px) {
  .playlist-track-route .pl-track-title {
    font-size: 32px !important;
  }
}

.playlist-track-route .pl-empty {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  text-align: center;
  margin-top: 24px;
}
/*# sourceMappingURL=Playlists.css.map */