ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.route-container {
  padding: 0 22px 102px 22px;
}
.route-container .route-grid-container .route-grid-wrap .app-body {
  width: 100%;
  background-color: #0B0B14;
  position: sticky;
  top: 56px;
  z-index: 89;
  padding-top: 12px;
}
.route-container .route-grid-container .route-grid-wrap .app-body .location-title {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  color: #fff !important;
}
.route-container .route-grid-container .route-grid-wrap .app-body .location-title span {
  transition: 0.2s ease-out;
}
.route-container .route-grid-container .route-grid-wrap .app-body .location-title .back-arrow {
  position: absolute;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.route-container .route-grid-container .route-grid-wrap .app-body .route-links {
  display: flex;
  gap: 8px;
  padding: 8px 0;
  margin-left: -10px;
  overflow-y: scroll;
}
.route-container .route-grid-container .route-grid-wrap .app-body .route-links .active-route {
  background-color: rgba(6, 24, 181, 0.3);
}
.route-container .route-grid-container .route-grid-wrap .app-body .route-links .active-route li {
  color: #293EF8 !important;
}
.route-container .route-grid-container .route-grid-wrap .app-body .route-links .route-button {
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  white-space: nowrap;
}
.route-container .route-grid-container .route-grid-wrap .app-body .route-links .route-button:hover li {
  color: #293EF8 !important;
}
.route-container .route-grid-container .route-grid-wrap .app-body .route-links .route-button li {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  color: #fff !important;
}
@media (min-width: 780px) {
  .route-container .route-grid-container .route-grid-wrap .app-body .route-links .route-button li {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    color: #fff !important;
  }
}
@media (min-width: 780px) {
  .route-container {
    padding: 0 40px 0 40px;
  }
  .route-container .route-grid-container {
    display: grid;
    grid-template-columns: auto 360px;
    grid-gap: 24px;
  }
  .route-container .route-grid-container .route-grid-wrap {
    margin-top: 0;
    height: calc(100vh - 78px);
    overflow-y: scroll;
  }
  .route-container .route-grid-container .route-grid-wrap .app-body {
    top: 0;
  }
  .route-container .route-grid-container .route-grid-wrap .app-body .location-title {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700 !important;
    font-size: 48px !important;
    color: #fff !important;
  }
}
@media (min-width: 860px) {
  .route-container {
    padding: 0 60px 0 60px;
  }
}
@media (min-width: 980px) {
  .route-container {
    padding: 0 90px 0 90px;
  }
}
@media (min-width: 1180px) {
  .route-container {
    padding: 0 112px 0 112px;
  }
}/*# sourceMappingURL=RouteContainer.css.map */