@import '../../mixins.scss';

.sidebar-container {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background-color: rgba(#000, 0.3);
  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;

  .sidebar {
    width: 100%;
    height: 100%;
    padding: 0 22px;
    background-color: $drk_blue;
    overflow-y: scroll;

    .sidebar-nav {
      width: 100%;
      padding: 16px 22px;
      position: relative;
      @include flexCenter;

      .close-sidebar {
        width: calc(28px + (22px * 2));
        height: 100%;
        position: absolute;
        left: -22px;
        @include flexCenter;

        img {
          width: 28px;
          height: 28px;
        }
      }

      .sidebar-nav-omo-logo {
        height: 24px;

        img { height: 100%; }
      }
    }

    .omo-watermark {
      display: flex;
      gap: 8px;
      margin-top: 40px;
      background-color: $pri_blue;
      border-radius: 16px;
      padding: 12px;

      .watermark-logo {
        height: 42px;
        width: 42px;
        background-color: $drk_blue;
        border-radius: 4px;
        padding: 4px;
        @include flexCenter;

        img {
          width: 100%;
        }
      }

      .omo-info {

        .omo-text {
          @include fontProp('Montserrat', 700, 18px, #fff);
        }

        .omo-developer {
          @include fontProp('Open Sans', 600, 12px, #fff);
        }
      }
    }

    // Buttons

    .sidebar-buttons {
      display: grid;
      gap: 12px;
      margin: 28px 0;

      .button-container {
        .button {
          padding: 12px;
          display: inline-block;
          @include fontProp('Montserrat', 600, 24px);
          background-color: $hgl_blue;
          border-radius: 8px;
          cursor: pointer;
          
          &:hover {
            background-color: $pri-blue;
          }
        }
      }
    }

    .profile-container {
      width: 100%;
      border-radius: 12px;
      background-color: $pri_blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 74px;
      
      .profile-picture-container {
        // display: inline;
        margin-top: -50px; // 50%

        .profile-picture {
          width: 100px;
          height: 100px;
          background-color: #fff;
          border-radius: 50%;
          margin: 0 auto;
          @include flexCenter;
          
          img { height: 92px; }
        }
      }

      .profile-info {
        text-align: center;
        margin-top: 12px;

        .profile-label {
          @include fontProp('Montserrat', 500, 14, rgba(#fff, 0.84));          
        }

        .profile-name {
          margin-top: 5px;
          @include fontProp('Montserrat', 700, 18px, #fff);
        }
      }

      .icons-container {
        margin-bottom: 36px;
        
        .icons-section {
          margin-top: 12px;
          display: flex;
          justify-content: center;
          gap: 8px;

          .circle-icon {
            background-color: #fff;
            border-radius: 50%;
            padding: 3px;
            display: flex;

            img { width: 32px; }
          }
        }

        .icon-container-header {
          @include fontProp('Montserrat', 700, 18px, #fff);
          text-align: center;
          margin-top: 26px;
        }
      }
    }

    .active-listener {
      margin-top: 24px;

      .active-listener-header {
        @include fontProp('Montserrat', 700, 24px, #fff);
      }

      .listener-card-container {
        margin-top: 12px;
      
        .listener-card {
          display: flex;
          align-items: center;
          gap: 12px;
          border-radius: 16px;
          background-color: $pri-blue;
          padding: 8px;
          
          .listener-image {
            img {
              display: block;
              border-radius: 8px;
              width: 48px;
              height: 48px;
            }
          }

          .listener-name {
            @include fontProp('Montserrat', 600, 18px, #fff);
          }
        }
      }
    }
  }

  @include desktop {

    .sidebar {
      max-width: 380px;
    }
  }
}