.playlist-options-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), black);
  z-index: 500;
  transition: 0.1s ease-in;
}
.playlist-options-container .playlist-options-content {
  width: 100%;
  background-color: #EEEFF8;
  padding: 18px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  grid-gap: 12px;
}
.playlist-options-container .playlist-options-content .header {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  color: #fff !important;
  color: #000 !important;
}
.playlist-options-container .playlist-options-content .option-selection-container {
  display: grid;
  grid-gap: 18px;
}
.playlist-options-container .playlist-options-content .option-selection-container .delete-playlist-content {
  display: grid;
}
.playlist-options-container .playlist-options-content .option-selection-container .delete-playlist-content .delete-message {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  color: #fff !important;
  color: #000 !important;
  margin: 16px 0 18px 0;
}
.playlist-options-container .playlist-options-content .option-selection-container .delete-playlist-content .bottom-buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
}
.playlist-options-container .playlist-options-content .option-selection-container .delete-playlist-content .bottom-buttons .delete-button {
  height: 100%;
  color: #fff;
  background-color: #FF0058;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  color: #fff !important;
}
.playlist-options-container .playlist-options-content .option-selection-container .delete-playlist-content .bottom-buttons .delete-button:hover {
  background-color: #eb0858;
}
@media (min-width: 780px) {
  .playlist-options-container .playlist-options-content .option-selection-container .delete-playlist-content .bottom-buttons {
    grid-gap: 12px;
  }
  .playlist-options-container .playlist-options-content .option-selection-container .delete-playlist-content .bottom-buttons .delete-button {
    border-radius: 14px;
    font-size: 18px !important;
  }
}
.playlist-options-container .playlist-options-content .option-selection-container .option-selection {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 12px;
}
.playlist-options-container .playlist-options-content .option-selection-container .option-selection .option {
  width: 100%;
  display: grid;
  grid-template-columns: 28px 1fr;
  grid-gap: 12px;
  cursor: pointer;
  align-items: center;
}
.playlist-options-container .playlist-options-content .option-selection-container .option-selection .option .option-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playlist-options-container .playlist-options-content .option-selection-container .option-selection .option .option-icon img {
  width: 100%;
}
.playlist-options-container .playlist-options-content .option-selection-container .option-selection .option .option-title {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  color: #fff !important;
  color: #000 !important;
  transition: 0.1s ease-in;
}
.playlist-options-container .playlist-options-content .option-selection-container .option-selection .option:hover .option-title {
  color: #293EF8;
}
@media (min-width: 780px) {
  .playlist-options-container .playlist-options-content .option-selection-container .option-selection .option {
    grid-template-columns: 32px 1fr;
    grid-gap: 14px;
  }
}
@media (min-width: 780px) {
  .playlist-options-container .playlist-options-content .option-selection-container .option-selection {
    grid-gap: 24px;
  }
}
@media (min-width: 780px) {
  .playlist-options-container .playlist-options-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: auto;
    width: 350px;
  }
}/*# sourceMappingURL=PlaylistOptions.css.map */