.playlist-form-content {
  width: 100%;
  background-color: #EEEFF8;
  padding: 18px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 100%;
}
.playlist-form-content .header {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  color: #fff !important;
  color: #000 !important;
}
.playlist-form-content .input-field .input-con input {
  width: 100%;
  margin-top: 16px;
  padding: 16px 12px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #fff !important;
  color: #323232 !important;
  border-radius: 8px;
  background-color: #D8DAED;
  transition: 0.1s ease-in;
}
.playlist-form-content .input-field .input-con input:focus {
  background-color: #D1D4ED;
}
.playlist-form-content .input-field .input-con input::-moz-placeholder {
  color: rgba(50, 50, 50, 0.58);
}
.playlist-form-content .input-field .input-con input::placeholder {
  color: rgba(50, 50, 50, 0.58);
}
.playlist-form-content .input-field .error, .playlist-form-content .input-field .warning {
  margin: 8px 0 0 0;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #000 !important;
}
.playlist-form-content .input-field .error {
  color: #110d0d;
}
.playlist-form-content .input-field .warning {
  color: #F8851B;
}
.playlist-form-content .input-field .image-link-con {
  width: 100%;
}
.playlist-form-content .input-field .image-link-con input {
  width: 100%;
  margin-top: 12px;
  padding: 8px 12px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #323232 !important;
  border-radius: 8px;
  background-color: #D8DAED;
  transition: 0.1s ease-in;
}
.playlist-form-content .input-field .image-link-con input:focus {
  background-color: #D1D4ED;
}
.playlist-form-content .input-field .image-link-con input::-moz-placeholder {
  color: rgba(50, 50, 50, 0.58);
}
.playlist-form-content .input-field .image-link-con input::placeholder {
  color: rgba(50, 50, 50, 0.58);
}
.playlist-form-content .input-field .button-option {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin-top: 18px;
}
.playlist-form-content .input-field .button-option .but-con button {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  color: #fff !important;
  background-color: #60CE6B;
  border-radius: 12px;
  transition: 0.1s ease-in;
}
.playlist-form-content .input-field .button-option .but-con button:hover {
  background-color: #67b56f;
}
.playlist-form-content .input-field .button-option .but-con button:disabled {
  opacity: 0.38;
}
.playlist-form-content .input-field .button-option .but-con button:disabled:hover {
  background-color: #ff0040;
}
@media (min-width: 780px) {
  .playlist-form-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 415px;
  }
  .playlist-form-content .header {
    font-size: 32px !important;
  }
  .playlist-form-content .input-field .input-con input {
    margin-top: 14px;
    padding: 18px 14px;
    font-size: 22px !important;
  }
  .playlist-form-content .input-field .image-link-con input {
    padding: 10px 14px;
    font-size: 14px !important;
  }
  .playlist-form-content .input-field .button-option {
    grid-gap: 12px;
  }
  .playlist-form-content .input-field .button-option .but-con button {
    border-radius: 14px;
    font-size: 18px !important;
  }
}

.edit-mode {
  padding: 0;
}
@media (min-width: 780px) {
  .edit-mode {
    padding: 20px;
  }
}/*# sourceMappingURL=PlaylistForm.css.map */