@import '../../../mixins.scss';

.nav {
  @include defaultNavStyle;
  @include flexCenter;
  justify-content: space-between !important;

  @include desktop {
    padding: 24px 112px;

    @include customMediaQuery(780px) {
      padding: 24px 40px;
    }

    // +80
    @include customMediaQuery(860px) {
      padding: 24px 60px;
    }

    // +120
    @include customMediaQuery(980px) {
      padding: 24px 90px;
    }

    // +200
    @include customMediaQuery(1180px) {
      padding: 24px 112px;
    }

    // .menu-block-container {
    //   // display: none;
    // }
  }


  .menu-left-side {
    display: flex;
    align-items: center;
    
    .menu-block-container {
      cursor: pointer;
      position: absolute;
      left: 0;
      width: calc(28px + (22px * 2));

      height: 100%;
      @include flexCenter;

      @include desktop {
        position: static;
        margin-left: -22px;
        height: 30px;
      }
    }

    .nav-logo-container {
      display: grid;
      grid-template-columns: auto auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      img {
        height: 24px;

        @include desktop {
          height: 30px;
        }
      }

      .logo-label {
        margin-left: 24px;
        display: none;
        @include fontProp('Montserrat', 700, 24px);

        @include desktop {
          display: block;
        }
      }

      @include desktop {
        position: static;
        transform: translateX(0);
        left: 0;
      }
    }
  }

  .search-container {
    position: absolute;
    right: 0;
    height: 100%;
    width: calc(28px + (22px * 2));

    .search {
      width: 100%;
      height: 100%;
      @include flexCenter;
    }

    @include desktop {
      position: static;
      height: 30px;
      margin-right: -22px;
    }
  }
}