@import '../../../mixins.scss';

.search-nav {
  @include defaultNavStyle;
  background-color: $drk_blue !important;

  padding: 8px 22px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 8px;
  align-items: center;
  
  a {
    .nav-back-arrow {
      @include flexCenter;
    }
  }

  .search-input {
    height: 100%;
    padding: 8px;
    @include fontProp("Montserrat", 400, 16px, #121212);
    border-radius: 4px;
    min-width: 0;
  }

  .submit-search {
    @include flexCenter;
    height: 100%;
    border-radius: 4px;
    background-color: $pri-blue;
    padding: 0 12px;
    @include fontProp("Montserrat", 500, 14px, #fff);
    cursor: pointer;

    @include desktop {
      font-size: 16px !important;
      padding: 0 16px;
    }
  }

  @include desktop {
    padding: 16px 40px;
    grid-gap: 12px;
  }

  // 60
  @include customMediaQuery(860px) {
    padding: 16px 60px 16px 60px;
  }

  // 90
  @include customMediaQuery(980px) {
    padding: 16px 90px 16px 90px;
  }

  // 112
  @include customMediaQuery(1180px) {
    padding: 16px 112px 16px 112px;
  }
}