
@import url(
  'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400;1,600&family=Open+Sans:wght@400;600&display=swap'
);

@import './mixins.scss';

// html {
//   scroll-behavior: smooth;
// }

body {
  margin: 0;
  padding: 0;
  background-color: $drk_blue;
  transition: 0.2s ease-in;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

// ::-webkit-scrollbar {
//   background-color: #121212;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #00f;
//   border: solid 5px #121212;
//   border-radius: 12px;
// }

// .route-container {
//   margin-bottom: calc(77px + 24px);
// }

* {
  box-sizing: border-box;
  // @include fontProp('Montserrat', 600, 24px);
  color: #fff;
}

// Overall components styles

// Musics
.music-route {
  display: grid;
  padding: 0;
}

// Artists
::-webkit-scrollbar {
  display: none;
}

@include desktop {
  ::-webkit-scrollbar {
    background-color: $drk_blue;
    display: block;
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: $drk_blue;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $pri_blue;
    border-radius: 10px;
    min-height: 60px;

    &:hover {
      background-color: #0a1fda;
    }
  }
}